<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si la solicitud no corresponde a un archivo o carpeta real, redirigir a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
